body {
		background-color: #F0DB4F;
		padding: 10% 0 10% 0;
}

/*header, footer{
	background-color: #F0DB4F;
	padding: 10% 0 10% 0;
}*/

.container {
	background-color: #323330;
	padding: 0 0 10px 0;
}

#title {
	text-align: left;
	font-family: 'Oleo Script', cursive;
	font-size: 25pt;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 15%;
	line-height: 50px;
}

.questions {
	text-align: left;
	font-size: 16pt;
	margin-left: 15%;
	margin-right: 15%;
	line-height: 40px;
	width: 75;
}

.answers {
	display: inline;
	font-size: 15px;
}
.subcontainer {
	background-color: #F5F4F0;
	width: 65%;
	margin-left: 20%;
}