body {
		background-color: #F0DB4F;
		padding: 10% 0 10% 0;
}

@font-face{
	font-family:"digital-7";
	src: url('digital-7.ttf') format('truetype');
}

/*header, footer{
	background-color: #F0DB4F;
	padding: 10% 0 10% 0;
}*/

.container {
	background-color: #323330;
	padding: 0 0 10px 0;
}

#title {
	text-align: left;
	font-family: 'Oleo Script', cursive;
	font-size: 25pt;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 15%;
	line-height: 50px;
}

.questions {
	text-align: left;
	font-size: 16pt;
	margin-left: 15%;
	margin-right: 15%;
	line-height: 40px;
	width: 75;
}

.testQuestions {
	display: inline;
	font-size: 15px;
}
.subcontainer {
	background-color: #F5F4F0;
	width: 65%;
	margin-left: 20%;
}

#timer {
	margin: 0 auto;
/*	display: inline-block;*/
	font-size: 30pt;
	font-family: 'digital-7';
	color:#000;
	font-size: 55pt;
	color: #77DD77;
	text-shadow:  0 0 12px #39FF14;
	background-color: #B2ACAB;
	padding: 0 10px;	
	border-radius: 3px;
	position: absolute;
	left: 50%;
	top: 14%;
	}

.submit {
	padding: 3px 5px;
	border-radius: 3px;
	margin: 20px;
	margin-left: 120px;
}